*{
  font-family: "open sans-serif"!important;
}
header{
    background-image: url(https://d20exy1ygbh3sg.cloudfront.net/fms/images/newUi/header-bg.jpg);
    height: 70px;
}
.img1
{
 margin: 10px;
 height: 50px;
}

.header-wrapper{
    display: flex;

}
.button-class{
  padding-left: 20px;
    margin: 30px 0px 0px 0px;
    padding-right: 15px;
    display: flex;
    gap: 10px;
}
.button-class2  {
  padding-left: 0px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 20px;
}
.button-innerclass
{
    cursor: pointer;
        border: 0px solid;
        background-color: rgb(128,128,128,0.7);
        width: 100px;
        color: white;
        font-size: 1 em;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
        padding: 10px;
        position: relative;
        top: -20px;
}
.button-innerclass2
{
  cursor: pointer;
        border: 0px solid;
        background-color: rgb(128,128,128,0.7);
        
        color: white;
        font-size: 1 em;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
        padding: px;
        padding-bottom: 20px;
        margin-left: 450px;
}
/* Define the styling for the sidebar */
.sidebar {
    width: 240px; /* Adjust the width as needed */
    background-color: #1c2e4a;
    height: 150vh;
    font-size: 12px;
    left: 0;
    margin-left: 1px;
    margin-top: 1PX;
    font-family: open sans-serif;
    
  }
  
  /* Style the navigation links */
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: open sans-serif;
    font-size: 12px;
    
  }
  .sidebar li
  {
    text-align: left;
    margin: 0px;
    border-bottom: 0.03em solid white;
    border-width: 1px;
    border-color: #013076;
    font-family: open sans-serif;
    
    
  }
  
  .sidebar li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
    margin-top: 1PX;
    font-size: 15px;
    font-family: open sans-serif;
    
  }
  
  .sidebar li a:hover {
    background-color: #555;
    color: #fff;
  }
  
  /* Adjust the content area to push it away from the sidebar */
  /* .content {
    margin-left: 200px; /* Same width as the sidebar */
    
  .main-body{
    display: flex;
    width: 100%;
    font-family: open sans-serif;
    
  }
  .main-bodysubpart1{
    width: 17%;
    font-family: open sans-serif;
    
    
  }
  .main-bodysubpart2{
    width: 97%;
    background-color: #d8d3d3;
    margin: 0px;
    font-family: open sans-serif;
    padding: 0px;
    
  }
  .sec
  {
    margin: 15px;
    background-color: #fff;
    
  }
  .sec2
  {
    background-color: antiquewhite;
  }
  .sec1{
    background-color: white;
  }
  .sec3{
    margin-top: 16px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 16px;
    background-color: #FCF8E3;
    height: 90px;
    padding-top: 10PX;
    padding-bottom: 0PX;
    
    border-radius: 4px;
  }
  .table1{
    width: 100%;border: 0px solid white;border-collapse: collapse;
  }
  
  
  
  .fpart1 input
  {
    padding-left: 4px;
    border-radius: 4px;height: 20px;
    border: 1px solid black;
  }
  .employeecodeinput{
    border-radius: 4px;border: 1px solid black;
    height: 20px;
  }
.fpart2
{
  background-color: white;
}

.f2class
{
  display: inline;padding-left: 40px
}
.f2td2{
  width: 35%;
}
.f2td2 div{
  display: inline;
  padding-left: 20px;
}
.f2sel{
  padding-left: 10px;
  display: inline;
  border-radius: 4px;
  height: 25px;
  width: 140px;
  padding-right: 10px;
}
.genderselect
{
  padding-left: 20px;
    display: inline;
    border-radius: 4px;
    height: 25PX;
  
    width: 230px;
    padding-right: 14px;
}
.dobselect{
  padding-left: 25px;
    display: inline;
    border-radius: 4px;
    height: 18PX;
    border: 1px solid black;
  
    width:80px;
    padding-right: 10px;
}

  .para
  {
    width: 40px;
    padding: 0px;
    margin: 0px;
    color: #fff;
    font-size: 13px;
  }
  .pa
{
  width: 80PX;
    margin:10px 10px 15px 20px;
  }
  .selectclass{
    padding-left: 20px;
    display: inline;
    border-radius: 4px;
    height: 23PX;
    margin: 3px;
    width: 140px;
    padding-right: 10px;
  }
  .formpart1
  {
    display: flex;
    width: 100%;
  }
  .p1{
    padding-left: 80px;
    padding-right: 100px;  
  }