<style>
    th,
    td {
        text-align: center;
    }
</style>
<div class="mt-5">
    <p class="text-center text-decoration-underline" style="font-size: 26px;">Events Details</p>
    <table class="table table-bordered table-responsive " style="width: 60vw;">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Event Name</th>
                <th>Event Description</th>
                <th>Event Date</th>
                <th>Image</th>
                <th>Seats</th>
                <th>Book Seats</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="event in events">
                <td>{{ event.id }}</td>
                <td>{{ event.event_name }}</td>
                <td>{{ event.event_description }}</td>
                <td>{{ event.event_date }}</td>
                <td style="width: 35px !important;">
                    <a href="{{ event.images[0].image_url }}" style="text-decoration:none;color:black">click here!</a>
                </td>
                <td>{{ event.seats }}</td>
                <td>
                    <input type="number" ng-model="seatsToBook" class="form-control">
                </td>
                <td>
                    <button class="btn btn-primary" ng-click="bookSeats(event,seatsToBook)">Book</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="loaderContainer" ng-class="{'d-none':loader}">
    <loader></loader>
</div>