@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"); 
.header-content{
  color: #424242;
  font-weight: 600;
  font-size: 10px;
}
.navbar-brand{
  padding: 0px !important;
  margin: 0px !important;
  justify-content: left !important;
}
#first-logo{
  border: black 1px solid;
  padding: 0px 2px 5px 2px;
  margin: 0p;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  margin-left: 0px;
}
.navbar-headings{
  font-size: 12px;
  font-weight: 600;
  color: black;
}
.main-image{
  height: 95px;
  background-image: url(./logo.jpg);
}
.nav{
  background-color: white !important;
}
.second-navbar-headings{
  font-size: 14px;
  color: black;
  font-weight: 600;
}