*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}


.nav-item:hover .dropdown-menu{
    display: block;
}
.nav-items{
  font-size:15px;
  font-weight: 700;
}
.nav-item1{
  font-size:15px;
  font-weight: 700;
}
.nav-item2{
  font-size:14px;
  font-weight: 700;
}

/*body*/
.image-div{
  background-color: #ededed;
  width:100%;
  
}
.image-card{
  width: 18rem;
}
.image{
  height:250px;
  width:110px;
}

@media screen and (max-width:576px) {
  .image{
    height:170px;
    width:70px;
  }
  .image-card{
   
    width: 8rem;
  }
}