nav{
    background-color: #d9d9d9;
}

.right-menu{
    padding: 0;
    margin: 0;
    list-style-type: none;
    /* border: 1px solid red; */
}
.logout{
    padding: 4px 9px 4px 9px;
    border-radius: 15px;
    background-color: red;
}
.logout:hover{
    cursor: pointer !important;
}
.task-card{
    background:linear-gradient(green,white); 
    padding: 18px;
    border: 1px solid black;
    border-radius: 9px;
}

#data-table th,
#data-table td {
    padding: 10px; 
    background-color: lightblue;
}

#admin-data-table th,
#admin-data-table td {
    padding: 10px; 
    background-color: lightblue;
}

#data-table th{
    background-color:black;
    color: white;
}
#admin-data-table th{
    background-color:black;
    color: white;
}