*{
    padding: 0;
    margin: 0;
    border: 0;
}

/* header section styling */

.logo{
    width: 70%;
    height: 70%;
}

.header_frame{
    display: flex;
    width: 100%;
    background: url("https://d20exy1ygbh3sg.cloudfront.net/fms/images/newUi/header-bg.jpg");
    background-size: cover;
    /* border-image: linear-gradient(to top, #f4a9b4,#376fa5,#376fa5,#004a8c) 1; */
    border-top: 5px solid #004a8c;
    border-bottom: 5px solid   #f4a9b4;

}

.inner_header{
    display: flex;
    align-items: center;
}
.header_component{
    display: flex;
    justify-content: space-between;
    width: 99%;
    align-items: center;
    margin: auto;
}

.header_items{
    display: flex;
    align-items: center;
}

.header_buttons_section button{
    padding: 10px;
    margin: 1px;
    color: #ffffff;
    background-color: #465b6c;
}

.header_buttons_section{
        width: 100%;
        margin-left: -7px;
}

.login_time{
    width: 30%;
}


.user_drop {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #415767;
    height: 50%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: white;
    /* background-image: url("https://d20exy1ygbh3sg.cloudfront.net/fms/images/bg-sec.jpg"); */
    background-color: #415767;
    background-size: cover;
    list-style: none;
    /* padding: 1%; */
    margin: 0;
    text-align: center;
  }
  
  .user_drop li {
    float: left;
  }
  
  .user_drop li a,
  .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropbtn{
    color: white;
  }
  .user_drop li a:hover,
  .dropdown:hover .dropbtn {
    color: white;
  }
  
  .user_drop li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-height: 100px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #037bef;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .fa {
    position: relative;
    bottom: 3px;
  }


  .login_time{
    color: #d0d0d0;
    width: 30%;
}



/*  menu bar styling */


.menu_container{
    display: flex;
    flex-direction: column;
}

.menu_section{
    width: 15%;
}

.menu_home{
    margin-left: -22px !important;
}


.menu_section{
    background-color: #153043;
}
ul li a{
    color: white;
    text-decoration: none;
    
}
ul li{
    border-bottom: 2px solid #284356;
    padding: 20px 0px 10px 30px ;
}
ul{
    overflow: auto;
    height: 100vh;
}
ul::-webkit-scrollbar{
    width:10px;
    height: 10px;

}
::-webkit-scrollbar-track{
     background-color: #d1d1d1;
}
::-webkit-scrollbar-thumb{
    background-color: #dedede;
}

/* employee section css */

.body_frame{
    display: flex;

}

.data_section{
    background-color: #dedede;
    padding: 15px;
    width: 85%;
    height: 100vh;
    overflow: scroll;
}

.data_section::-webkit-scrollbar{
    width:10px;
    height: 10px;

}
::-webkit-scrollbar-track{
     background-color: #d1d1d1;
}
::-webkit-scrollbar-thumb{
    background-color: #dedede;
}

.data_container{
    background-color: white;
    padding: 20px;
}

.data_head_d{
    margin: 18px;
}

.dashed_line{
    border: 1px dashed #b1b1b1;
    margin: 18px;
}

.note_container{
    border: 2px solid #fbe7c7;
    border-radius: 2px;
    padding: 15px 10px 40px 20px;
    background-color: #fcf7e0;
    border-radius: 3px;
    color: #816237;
}
.note_container p{
    font-style: bold;
    font-weight: 800;
}
.heading_lines{
    text-align: center;
    border-top: 3px solid #b1b1b1;
    border-bottom: 3px solid #b1b1b1;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
  
    color: #2d2d2d;
    font-weight: 700;
    height: 40px;
}

.table_odd_bgclr{
    background-color: #f8f8f8;
    border-top: 0.2px solid #a0a0a0;
    border-bottom: 0.2px solid #a0a0a0;
    
}

.star{
    color: #ff031a;
}


/* table styling strats form here */

#innerTr{
    height: 30px;
    padding-top: 50px;
}


table{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    color: #2d2d2d;
    opacity: 96%;
   }
   
   input[type="text"]{
    width: 200px;
   }
   .tr1{
    background-color: beige;
   }
   .tr2{
    background-color: red;
   }
   td{
    width:17%; 
    vertical-align: middle;
   }
  
   #cars{
    width: 97%;
    border: 1px solid #a0a0a0;
    border-radius: 3px;
   }

   #input_styling{
    width: 96%;
    border: 1px solid #a0a0a0;
    border-radius: 3px;
   }
   

   .select_tag_style{
    border: 2px soild black !important;
    width: 100%;
   }
#exMsg{
    font-size: 50%;
}
 



 ul li:hover{
    background-color:#233a4e;
    
}
ul li:hover{
    border-left:4px solid #f4a9b1;
}



.upload_container{
    border-top: 2px solid #a0a0a0;
    border-bottom: 2px solid #a0a0a0;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 4%;
    width: 100%;
}

.upload_section{
    display: flex;
    width: 50%;
    margin-bottom: 2%;
    justify-content: space-between;
    align-items: center;
}
.upload_section p{
    word-wrap: break-word;
}

.upload_section button{
    color: #fff;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #45af56;
    border-radius: 3px;
    height: 30px;
    margin-left: 6px;
}

.auditor_sec{
    display: flex;
    width: 60%;
    margin-left: 10%;
    justify-content: space-between;

}

.auditor_sec select{
    width: 60%;
    border: 1px solid #a0a0a0;
    border-radius: 3px;
}


.create_emp_btn_sec{
    text-align: center;
    margin-top: 2%;
}
.create_emp_btn_sec button{
    color: #fff;
    background-color: #072f45;
    padding: 10px;
}