body{
    margin: 0px;
}
.header{
    background: url(https://d20exy1ygbh3sg.cloudfront.net/fms/images/newUi/header-bg.jpg);
}
.list li:hover{
 background-color:#3788d8;
 margin:0px;
 display: inherit;
 
 /* padding-top:auto; */
 /* padding-bottom: auto; */
}
.list a{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.list{
    width: 100%;
    /* height: 44px; */
    background-color:#00498D;
    display: flex;
    justify-content: center;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    /* gap: 0px; */
}
.list ul{
    padding-right: 225px;
}
.header{
    width: 100%;
    /* min-height: 44px; */
    padding-left: 0px;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    margin: 0px;
    border: 0px;
}
.kcr-hr{
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 320px;
    height: 96px;
    margin-right: 150px;
}
.logo.header{
    display: flex;
    justify-content:center;
    padding-left: 15px;
    width: 298px;
    height: 70px;

}

ul{
background-color:#00498D;
list-style: none;
/* display: inline-block; */
/* padding-left: 1px; */
margin-top: 0px;
margin-bottom: 0px;
padding-left: 35px;
/* height: 20px; */
width: 100%;
}
ul{
    /* float: left; */
    font-display: solid;
    font: white;
  /* margin-left: 0px; */
  margin-right: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
width: 100%;
}
ul,a{
    color: rgb(249, 248, 248);
    text-decoration: none;
    font-family:sans-serif;
    font-size: 13px;
    display: flex;
    gap: 0px;
    margin-top: 0px;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px; 
}
.plhdr{
font-size: 15px;
height: 145px;
width: 90px;
padding-left: 135px;

}
p.plhdr{
    color: rgb(69, 66, 66);
}

label.plhdr{
    color: rgb(36, 37, 39);

}
button.plhdr{
    width: 95px;
    padding: 10px;
    color: rgb(17, 203, 240);
    border-radius: 5px;
    margin-top: 10px;

}
.challans{
    background-color: #0063c0;    ;
}
.challan-dropdown{
    position: relative;
    display: inline-block;
}
.challans{
    display: none;
    position: absolute;
    z-index: 1;

}

.challan-content{
    display: block;

}
/* .dropbtn {
    background-color: #04AA6D;
    color: rgb(12, 130, 225);
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown a:hover {background-color: #11b4e0;}

  .dropdown:hover .dropdown {display: block;}

  .dropdown:hover .dropbtn {background-color: #f5f7fc;} */