.main_container_section{
    background-image: linear-gradient(150deg, #9dc4fb,#d0c3fb);
}
.terms_color{
    color: #3d62ca;
}

.btn_bg_color{
    background-color: #3d62ca;
    color: white;
}


.left_section{
    background-color: #2b0b3c;

}
.images_sec{
    opacity: 70%;
}

