@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.main-container {
    display: flex;
    flex-direction: row;
}

.left-container {
    color: white;
    background-color: #000066;
    font-family: Roboto;
    padding: 15px;
}

.right-container {
    padding-left: 15px;
    font-family: Roboto;
    background-color: white;
}

.details {
    font-style: bold;
    font-weight: 600;
}

.heads {
    color: #262673;
}

hr {
    height: 2px;
    background-color: #00004d;
    border: none;

}

.horizentenal-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.line {
    height: 2px;
    background-color: white;
    border: none;
}

.anchor_link {
    margin-top: 14px;
}

p {
    font-size: 100%;
}

li {
    font-size: 100%;
}