.head{
    background-color: black;
    color:white;
    text-align: center;
    margin-top: 5px;
    
    
}
.heading{
border-radius: 5px;
    background-color: grey;
    text-align: center;
    color:white;
   
}
td{
    text-align: center;
}