* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.bg-container {
  background-color: #d4d9e9;
  display: block;
  height: 100vh;
}

.heading {
  font-size: 20px;
  font-family: "Helvetica, Arial, sans-serif;";
  text-align: center;
}

.top-para {
  color: #333;
}

.form-section input[type="text"],
.form-section input[type="password"] {
  width: 100%;
  border: 1px solid #bdc7d8;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 5px;
  margin: 5px 0;
}

.form-section input[type="text"]:focus,
.form-section input[type="password"]:focus,
.form-section input[type="submit"]:focus,
.bdate select:focus {
  outline: none;
}

.text-box p {
  font-size: 13px;
  color: #777;
}

#submitBtn {
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 12px;
}
