.btn {
  padding: 8px;
  height: 40px;
  width: 100%;
  background-color: green;
}
.login-btn {
  background-color: white;
  border: 0;
  color: green;
}
.h-btn {
  background-color: white;
  border: 0;
}
