* {
  padding: 0;
  margin: 0;
}

.nav-bar {
  background-image: url("https://d20exy1ygbh3sg.cloudfront.net/fms/images/newUi/header-bg.jpg");
  border-bottom: 10px #d561a3;
  padding-top: 3px;
  display: flex;
  border-top: rgb(8, 8, 129);
  justify-content: space-between;
  gap: 48%;
  height: 42px;
}
.nav-bar-things {
  display: flex;
}
/* i{
    font-family: Arial, sans-serif;
    font-style: italic;
} */
.nav-bar-down img {
  position: relative;
  height: 80%;
  padding: 2% 7%;
  padding-left: 10px;
}
#text-content {
  display: block;
  color: rgb(220, 211, 211);
  padding: 4px;
  font-size: 9px;
}

.drop-down-hover {
  background-color: rgb(74, 102, 122);
  border: none;
  font-size: 8px;
  color: white;
  padding-top: 5px;
  padding-bottom: 6px;
  border-radius: 2px;
}
.nav-bar-contents button {
  background-color: #4d6273;
  border: none;
  font-size: 10px;
  color: white;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2px;
}
.drop-down-link {
  display: flex;
  gap: 3px;
}

.down-text {
  text-align: left;
}
.nav-bar-contents {
  position: relative;
  padding: 4px;
  padding-left: 80px;
}
.sidebar {
  width: 240px;
  background-color: #233757;
  /* border-right: 1px solid #fff; */
}

.sidebar-item {
  padding: 10px;
  border-bottom: 0.01px solid rgba(196, 205, 199, 0.3);
  color: #fff;
  padding-left: 40px;
}
.sidebar-item:hover {
  background-color: rgb(70, 100, 120);
  opacity: 0.7;
}
.sidebar-item a {
  color: #fff;
  text-decoration: none;
}
.first-cont {
  padding-top: 10px;
  width: 240px;
  background-color: #233757;
  border: 0.1px solid #c4cdc7;
}
.home {
  padding-left: 10px;
  font-weight: 1000;
  font-size: large;
  margin-bottom: 5px;
  padding-bottom: 12px;
  border-bottom: 0.01px solid rgba(196, 205, 199, 0.3);
  color: #fff;
}
.home a {
  text-decoration: none;
  color: #fff;
}
.full-container {
  display: flex;
}
.second-cont {
  width: 100%;
  padding-top: 20px;
  /* margin-left:30px; */
  /* margin-top: 30px; */
  padding-bottom: 30px;
  max-width: 100%;
  border-left: 15px solid rgba(196, 205, 199, 0.3);
  border-top: 15px solid rgba(196, 205, 199, 0.3);
}
.EMP {
  /* padding-top: 20px; */
  margin-left: 20px;
  /* margin-top: 30px; */
  padding-bottom: 20px;
  max-width: 100%;
  border-bottom: 1px dotted rgba(0, 0, 199, 0.3);
}
.select-down {
  padding-right: 114px;
  margin-left: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}
.emp-middle {
  display: flex;
  justify-content: center;
  background-color: rgb(243, 242, 242);
  margin-top: 10px;
  margin-bottom: 8px;
  border-top: 3px solid #c0c0c0;
  border-bottom: 3px solid #c0c0c0;
  padding: 9px;
  margin-left: 5px;
}
.input-ec {
  padding-right: 50px;
  margin-left: 100px;
  padding-top: 4px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-top: -10px;
  border: solid 1px gray;
}
.second-row {
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  background-color: rgb(243, 242, 242);
}
.emp-name-input {
  margin-left: 88px;
  padding-right: 10px;
  border: solid 1px gray;
  padding-top: 4px;
  border-radius: 5px;
  padding-bottom: 5px;
}
.emp-surname-input {
  margin-left: 78px;
  padding-right: 49px;
  border: solid 1px gray;
  padding-top: 4px;
  border-radius: 5px;
  padding-bottom: 5px;
}
.select-down2 {
  padding-right: 150px;
  margin-left: 90px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}
.third-row {
  margin: 5px;
  padding-top: 0px;
  padding-bottom: 6px;
  border-bottom: 1px solid #c0c0c0;
}
.select-down3 {
  padding-right: 50px;
  margin-left: 147px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}
.select-down4 {
  padding-right: 115px;
  margin-left: 43px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}
.select-down5 {
  padding-right: 150px;
  margin-left: 120px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}
.fourth-row {
  margin: 5px;
  margin-top: -4px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(243, 242, 242);
  border-bottom: 3px solid #c0c0c0;
}
.DOB {
  margin-left: 99px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border-bottom: 1px solid #c0c0c0;
}
.select-down6 {
  padding-right: 94px;
  margin-left: 114px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}
.other-details {
  display: flex;
  justify-content: center;
  margin-top: -5px;
  border-bottom: 3px solid #c0c0c0;
  border-top: 0px solid #c0c0c0;
  padding: 9px;
  margin-left: 5px;
}
.first-row-2 {
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 5px;
  background-color: rgb(243, 242, 242);
  padding-top: 8px;
  padding-bottom: 5px;
  margin-right: 2px;
  border-bottom: 1px solid #c0c0c0;
}
.tsgli-no-input {
  padding-right: 8px;
  margin-left: 118px;
  padding-top: 4px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-top: -10px;
  border: solid 1px gray;
}
input[type="radio"] {
  display: inline-flex;
  margin-right: 0px;
  margin-left: 90px;
}
.gpf-no {
  padding-right: 50px;
  margin-left: 108px;
  padding-top: 4px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-top: -10px;
  border: solid 1px gray;
}
.second-row-2 {
  margin: 5px;
  padding-bottom: 5px;
  margin-right: 2px;
  border-bottom: 1px solid #c0c0c0;
}
.aadhar-input {
  padding-right: 8px;
  margin-left: 115px;
  padding-top: 4px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-top: -10px;
  border: solid 1px gray;
}
.select-down-3 {
  padding-right: 145px;
  margin-left: 109px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}
.pan-no {
  padding-right: 51px;
  margin-left: 106px;
  padding-top: 4px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-top: -10px;
  border: solid 1px gray;
}
.third-row-2 {
  margin-left: 3.7px;
  margin-top: -3px;
  margin-bottom: 5px;
  background-color: rgb(243, 242, 242);
  padding-top: 2px;
  padding-bottom: 10px;
  margin-right: 2px;
  border-bottom: 1px solid #c0c0c0;
}
.email {
  padding-right: 7px;
  margin-left: 134px;
  padding-top: 4px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-top: -10px;
  border: solid 1px gray;
}
.mobile-no {
  padding-right: 52px;
  margin-left: 90px;
  padding-top: 4px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-top: -10px;
  border: solid 1px gray;
}
.fourth-row-2 {
  margin: 5px;
  margin-top: 8px;
  padding-bottom: 5px;
  margin-right: 8px;
}
.leaves {
  padding-right: 7px;
  margin-left: 10px;
  padding-top: 4px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-top: -10px;
  border: solid 1px gray;
}
.half-leaves {
  padding-right: 48px;
  margin-left: 13px;
  padding-top: 4px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-top: -10px;
  border: solid 1px gray;
}
.bank-details {
  display: flex;
  justify-content: center;
  margin-top: -5px;
  border-bottom: 3px solid #c0c0c0;
  border-top: 3px solid #c0c0c0;
  padding: 9px;
  margin-left: 5px;
  background-color: rgb(243, 242, 242);
}
.first-row-3 {
  margin: 5px;
  margin-top: 8px;
  padding-bottom: 5px;
  margin-right: 8px;
  border-bottom: 1px solid #c0c0c0;
}
.account {
  margin-left: 75px;
  padding-right: 10px;
  border: solid 1px gray;
  padding-top: 4px;
  border-radius: 5px;
  padding-bottom: 5px;
}
.confirm-account {
  margin-left: 55px;
  padding-right: 47px;
  border: solid 1px gray;
  padding-top: 4px;
  border-radius: 5px;
  padding-bottom: 5px;
}
.second-row-3 {
  background-color: rgb(243, 242, 242);
  margin-left: 5px;
  margin-top: -4px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 2px;
  border-bottom: 1px solid #c0c0c0;
}
.ifsc {
  margin-left: 115px;
  border: solid 1px gray;
  border-radius: 5px;
  padding-top: 5px;
  padding-right: 12px;
  padding-bottom: 5px;
  margin-right: 0px;
}
.bank-name {
  margin-left: 126px;
  padding-right: 49px;
  border: solid 1px gray;
  padding-top: 4px;
  border-radius: 5px;
  padding-bottom: 5px;
}
.branch {
  padding-right: 56px;
  margin-left: 106px;
  padding-top: 4px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-top: -10px;
  border: solid 1px gray;
}
.third-row-3 {
  margin-top: 15px;
  margin-left: 6px;
  border-bottom: solid 1px gray;
  padding-bottom: 18px;
}
.select-file {
  margin-left: 150px;
}
.choose-file {
  border: solid 1px gray;
  border-radius: 3px;
}
.btn-add {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background: #05af5d;
  margin-left: 44px;
  font-size: 10px;
  font-weight: 900;
  color: #fff;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border: 0;
  border-radius: 4px;
}
.select-down-9 {
  margin-left: 300px;
  margin-top: 10px;
  padding-right: 440px;
  margin-bottom: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
}
.fourth-row-3 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: -20px;
}
.btn-creat-employee {
  background-color: rgb(6, 6, 102);
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 5px;
}
