body{
    margin: 0px;
    text-align: justify;
    background: url(https://d20exy1ygbh3sg.cloudfront.net/fms/images/newUi/login-bg.png);
}
.header{
    background: url(https://d20exy1ygbh3sg.cloudfront.net/fms/images/newUi/header-bg.jpg);

}
.logo{
    margin-left: 12%;
}
.cm_img{
    margin-left: 12%;
}
.navbar{
    background-color:hsl(209, 100%, 28%);
    width: 100%;
    text-decoration: none;
    text-align: center;
}
.navbar ul{
    display: inline-flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.navbar ul li{
    margin: 0px;
    width: 155px;
}
.navbar ul li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
}
.navbar ul li:hover{
    background-color: rgba(57, 17, 238, 0.93);
    padding: 0px;
}  
.dropdown-content{
    
    position: absolute;
    z-index: 1;
}
.dropdown_btn .dropdown-content {
    display: block;
}
.dropdown-content ul{
    text-align: center;
    display: flex;
    flex-direction: column; 
}
.dropdown-content ul li a{
    color: white;
}
.dropdown-content ul:hover{
    background-color: grey;
}

