<div class="col-12 d-flex">
    <div class="col-lg-6">
        <img src="../images/Screenshot 2023-11-23 at 12.46.34 PM.png" width="100%">
    </div>
    <div class="col-lg-6">
        <div class="col-10 m-auto mt-5 pt-5">
            <div class="form-floating mb-3">
                <input type="text" ng-model="name" class="form-control border-warning shadow-none" placeholder="name@example.com">
                <label for="floatingInput ">Dog Name*</label>
            </div>
            <div class="input-group mb-3">
                <input type="file" class="form-control p-3 border-warning shadow-none" id="files" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            </div>
            <div class="">
                <div class="col-4 p-2 text-center text-white rounded" type="button" style="background-color: #FCA909;" ng-click="submit()">SUBMIT</div>
            </div>
        </div>
    </div>
</div>