<div class='col-12 d-lg-flex' style="min-height: 100vh;" >
    <div class="col-lg-6 p-5"  >
        <div style="font-size: 65px;font-weight: 700;color: #F9A900;letter-spacing: 4px;">LOVE</div>
        <div style="font-size: 20px;font-weight: 700;">IS FOUR LEGGED</div>
        <div style="font-size: 60px;font-weight: 700;">WORD</div>
        <div class="border-5 border-start  border-warning ps-2 " style="font-weight: 600;font-family:serif ;">ADOPTING IS GOOD DEED.ITS EASY</div>
        <div class="border-5 border-start  border-warning ps-2" style="font-weight: 600;font-family:serif ;">ADOPT THEM BY JUST DONATING WE WILL TAKE CARE OF THEM.</div>
    </div>
    <div class="col-lg-6">
        <img src="../images/Screenshot 2023-11-23 at 12.46.34 PM.png" width="100%">
    </div>

</div>