*{
    margin: 0;
    box-sizing: border-box;
}


.logo{
    background-image: url("https://d20exy1ygbh3sg.cloudfront.net/fms/images/newUi/header-bg.jpg");
    
}
nav{
    text-align: center;
    font-family: sans-serif;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    margin-left: 2rem; margin-right: 2rem;

}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #333;
}

nav ul li:hover > ul {
    display: inherit;
}

nav ul li ul li {
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul li ul li a {
    padding: 10px 16px;
    color: #fff;
    text-decoration: none;
}

nav ul li ul li a:hover {
    background-color: #555;
    display: block;
}


.dropbtn {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* z-index: 1; */
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    position: absolute;
    display: none;
    left: 0%;
}

.dropdown-content a:hover {
    background-color: #ddd;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-icon::after {
    content: '\f0d7'; 
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-left: 5px;
}

.content-body {
    display: flex;
}

.left-content {
    width: 40%;
    display: flex;
        justify-content: center;
        align-items: center;
        float: left;
}

.outer_forgot {
    width: 100%;
    margin: 10px 0;
    display: table;
}

.imp_noti {
    background: #fff3cd;
    padding: 10px 25px;
    width: 80%;
    display: flex;
        justify-content: center;
        align-items: center;
        float: left;
}

.imp_title {
    font-size: 14px;
    color: #856439;
    font-weight: 600;
    margin-bottom: 8px;
}

.blink {
    color: red;
    font-weight: 700;
    animation: blinker 1s linear infinite;
}




forgot-pwd{
    color: #b6b6b6;
    font-weight: 600;
    font-size: 16px;
    margin-top: 9px;
    display: block;
    cursor: pointer;
}

.forgot-pwd a:hover {
    color: #010bc1;
}
.carousel-wrapper {
    width: 66.6%;
    display: flex;
    justify-content: center;
        align-items: center;
        float: right;
        background: #dedede;


}
.container{
    background-color: #f9f9f9;
    background-image: url("https://d20exy1ygbh3sg.cloudfront.net/fms/images/newUi/login-bg.png");
    padding: auto;
   margin: none;
   /* display: flex; */
}

/* CAROUSEL */
.carousel-wrapper {
    height: 400px;
    position: relative;
    width: 800px;
    display: block;
    margin: none;
    padding: 2%;
  }

   



  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* padding: 25px 50px; */
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
  }
  .arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  
  }
  .arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  
  [id^= "item"] {
    display: none;
  }
  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url('./Images/1.jpg');
    background-size: cover;
  }
  .item-2 {
    background: url('./Images/2.jpg');
    background-size: cover;
  }
  .item-3 {
    background: url('./Images/3.jpg');
    background-size: cover;
  }

  .item-4 {
    background: url('./Images/4.jpg');
    background-size: cover;
  }

  .item-5 {
    background: url('./Images/5.jpg');
    background-size: cover;
  }
  
  *:target ~ .item-1{
    opacity: 0;
  }
  #item-1:target ~ .item-1 {
    opacity: 1;
  
  }
  #item-2:target ~ .item-2, #item-3:target ~ .item-3{
    z-index: 3;
    opacity: 1;
  } 
  #item-4:target ~.item-5, #item-5:target ~.item-5 {
    z-index: 3;
    opacity: 1;
  }

 
  .carousel-caption {
    background: #08254f;
    width: 100%;
    height: 194px;
    left: 0;
    padding: 10px 20px 0;
    text-align: left;
    text-shadow: none;
    bottom: 106px;
    /* top: -106px; */
}


.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}