.formContainer {
}
.col-lg-4 {
  padding: 0px !important;
  margin: 0px !important;
}
.mainHeading {
  font-weight: 600;
}
.signupButton {
  border: none;
  background-color: rgb(113, 113, 255);
  color: white;
  padding: 7px;
  border-radius: 10px;
}
/* #mainImage
{
    background-image: url(https://random.imagecdn.app/500/150/blur)no-repeat;
} */

.quotesclass {
  font-size: 18px;
  font-weight: 450;
  color: white;
  padding-top: 40%;
  padding-left: 20%;
}
