body{
    margin: 0px;
    background-color: #E2E2E2;
    font-family: 'Open Sans',sans-serif;
}

/* Main Header with User Profile */
.main-wrapper{
    background-image: url(https://d20exy1ygbh3sg.cloudfront.net/fms/images/newUi/header-bg.jpg);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
    border-top: 2px solid #0063c0;
    border-bottom: 4px solid #F0B2B9;
}
.logo-wrapper{
    cursor: pointer;
    display: inline-block;
    padding: 4px 10px;   
}
.menu-wrapper, .time-wrapper, .login-wrapper{
    color:white;
    font-size: 12px;
}
.menu-wrapper{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 3px;
    padding-left: 27px;
}
.menu-wrapper>*{
    cursor: pointer;
    align-items: center;
    display: inline-block;
    list-style: none;
    background-color: #4D6273;
    padding: 8px 10px;
    border-radius: 2px;
}
.time-wrapper{
    cursor: default;
    font-size: 9px;
    font-weight: lighter;
    width: 65px;
    line-height: 1.3;
    letter-spacing: 1px;
}
.menu-wrapper img{
    width: 12px;
    height: 12px;
    padding: 0px 4px;
}
.login-wrapper{
    cursor: pointer;
    position: absolute;
    right: 10px;
    padding: 5px 8px;
    background-color: #4D6273;
    border-radius: 2px;
    width: 210px;
    display: flex;
    align-items: center;
    font-size: 9px;
    line-height: 1.5;
}
.login-logo{
    padding: 0px 10px;
}

/*  Left Navigation Menu  */
.left-container{
    background-color: #1B354D;
    display: inline-block;
    min-width: 230px; 
    height: 100vh;
    overflow: auto;
}
.left-container>*{
    display: block;
    color: white;
    font-size: 11px;
    font-weight: lighter;
    border-bottom: 1px solid #305678;
    padding: 10px 35px;

}
/* .left-container li:first-child{
    list-style: square outside url(images/house-chimney-solid.svg);
} */
.left-container > *:hover{
    cursor: pointer;
    border-left: 3px solid #F0B2B9;
    background-color: #2B4259;
}

/* Right Main Body */
.main-container{
    display: flex;
}
.right-container{
    width: 100%;
    /* height: 100vh; */
    background-color: white;
    margin: 11px;
    padding:4px;
    border-radius: 4px;
    font-size: 12px;
}
.title{
    font-size: 15px;
    border-bottom: 1px dashed grey;
    margin: 16px 12px;
    padding-bottom: 8px;
}
.note{
    padding: 12px 11px;
    margin-bottom: 16px;
    border: 1px groove #F0B2B9;
    border-radius: 4px;
    background-color: #FCF8E3;
    color: #8B6F3D;
    height: 60px;
}
.indentation{
    padding-left: 40px;
}

/* User details form */
.details-container{
    font-size: 11px;
}
.details-title{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px groove #F0F0F0;
    border-bottom: 2px groove #F0F0F0;
    background-color: #F9F9F9;
    padding: 6px 0px;
    color: #333333;
}
.details-contents{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.details-contents>*{
    border-bottom: 1px groove #D6D6D6;
    padding: 4px 0px;    
}
form span{
    color: red;
    /* font-size: 13px; */
    font-weight: bolder;
}
.example{
    font-size: 8px;
    margin-top: 3px;

}
#documents{
    border: 1px solid #4F4F4F;
    padding: 0px 3px;
}
.zebra{
    background-color: #F9F9F9;
}
#add{
    background-color: #5DB85B;
    color: white;
    border: 0px;
    font-size: 12px;
    border-radius: 4px;
    padding: 6px 10px;
    margin: 0px 12px;
}
.doc-container{
    margin: 25px 0px;
    /* padding-top: 3px;
    padding-bottom: 20px; */
    border-top: 2px groove #F0F0F0;
    border-bottom: 2px groove #F0F0F0;
    font-size: 11px;
}
.doc-sub{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    width: 70%;
    
}
.doc-sub>*{
    padding: 6px 10px; 

}
.doc-qus{
    padding-right: 0px;
}
.submit{
    display: flex;
    justify-content: center;
}
.sub-final{
    background-color: #1B354D;
    color: white;
    padding: 6px 28px;
    border: 0px;
    border-radius: 4px;
    font-size: 11px;
    cursor: pointer;
    margin-top: -8px;

}

/* CUSTOM BOOTSTRAP STYLING */
.fill-up{
    width: 90%;
    font-size: 12px;
    color: #F0F0F0;
}
.ext{
    width: 93%;
    color: black;
}
/* ICONS STYLING */
.fa-sm{
    width: 8px;
    font-weight: bold;
    padding-right: 4px;
}