<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img
        src="https://res.cloudinary.com/dn0woegat/image/upload/v1700724674/360_F_513722905_SgxiGdjQZsdvP4ODmERsQGgW2bUwj1lT_eutdze.jpg"
        style="width: 100px; height: 50px; object-fit: cover;" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div class="search-container d-flex align-items-center rounded shadow-lg">

            <input class="search me-3" type="search" class="form-control form-input" size="60"
              placeholder="Search anything..." />
            <i class="fa fa-search pe-2"></i>

          </div>
        </li>

      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">

          <a class="nav-link" ui-sref="home" ui-sref-active="active" type="button">
            Home</a>
        </li>

        <li class="nav-item">

          <a class="nav-link" ui-sref="jobs" ui-sref-active="active" type="button">
            Jobs</a>
        </li>

        <li class="nav-item">

          <a class="nav-link" ui-sref="applications" ui-sref-active="active" type="button">
            Applications</a>
        </li>
        <li class="nav-item">

          <a class="nav-link" ui-sref="applyJob" ui-sref-active="active" type="button">
            Apply for a Job</a>
        </li>


        <li class="nav-item">

          <a class="nav-link" type="button" ng-click="logout()"><i class="fa fa-user me-1"></i> Log
            out</a>
        </li>



        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-ellipsis-v me-1"></i>
          </a>
          <ul class="dropdown-menu listRight">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>