
.header{
    background: url(https://d20exy1ygbh3sg.cloudfront.net/fms/images/newUi/header-bg.jpg);
    display: flex;
align-content: center;     
height: auto;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 0px;
margin-bottom: 0px;

}
.logo{
display: flex;
justify-content: right;
padding-left: 10px;
padding-right: 100px;
padding-top: 5px;
padding-bottom: 0px;
height: 45px;
}


.navbar{
    display: flex;
    align-items: right;
    gap: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;  
    padding-left: 5px;  
}

.logo-menu{
    height: 15px;
    width: 15px;
}
.logo-home{
    height: 16px;
    width: 16px;
}
p.navbar{
    display: inline;
    float:left;
    background-color:#5f7181;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 5px;
    padding-top: 5px; 
    /* color: white; */
    font-size: 15px;
    border-radius: 3px;
    margin-top: 3px;
}
p{
    padding-left: 10px;
    padding-right: 10px;
    background-color: darkgray;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
    color: white;
}

.sub{
    padding-right: 115px;
    margin: 0px;
    padding-left: 0px;
    
}
.sub li{
    display: flex;
    justify-content: left; 
    font-size: 10px;
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
margin-left: 0px;    
padding-right: 485px;
padding-left: 0px;
margin-right: 10px;
gap: 0px;
}

li{
    text-decoration: none;
    display: flex;
    /* justify-content: right; */
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 10px;
    margin-right: 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
    /* display: flex; */
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 8px;
    border-radius: 2px;
    /* justify-content: left; */
    align-items: center;
    padding-right: 0px;
    
  }
  .contactlogo{
    height: 12px;
    width: 12x;
    padding-right: 10px;
  }
  .drop-symbol{
    height: 15px;
    width: 15px;
    padding-left: 3px;
  }
  .dropdown-toggle {
    display: none;

  }
  
  .dropdown-label {
    cursor: pointer;
    background-color:darkgray;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: right;
    border-radius: 2px;

  }
  
  .dropdown-menu {
    position: absolute;
    display: none;
    background-color: darkgray;
    list-style-type: none;    

  }
  
  .dropdown-menu li {
    cursor: pointer;
    color: white;
    margin-top: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 23px;
    width: 90px;
  }
  li{
    padding-left: 15px;
  }
  
  .dropdown-menu li:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown-toggle:checked + .dropdown-label + .dropdown-menu {
    display: block;
    
  }

  /* height and width of scrollbar */
  .sidenav{
     height:900px; */
    min-height: fit-content;
    width:300px;
    overflow:auto;
  }
    div.sidenav{
        width: 300px;
        /* height: fit-content; */
        /* height: 650px;  */
        max-height: 780px;
    }
    .sidenav a{
        background-color: #1d3c5a;
        display: flex;
        margin-top: 1px;
        margin-bottom: 0px;
        color: white;
        text-decoration: none;
        align-items: center;
        padding-right: 5px;
        padding-left: 45px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .nav-home-logo{
        display: flex;
        justify-content: left;
        height: 18px;
        width: 20px;        
        
    }

    .sidenav a:hover{
        background-color:rgb(155, 155, 155);
    }
    .main{
        display:flex;
        max-height: fit-content;
    }
    div.details{
        display: inline;
        margin: 0px;
        border-top: 15px solid lightgray;
        border-left: 15px solid lightgray;
        border-radius: 5px;
        width: 1250px;
        /* height: 650px; */
    }
    div.add-employee{
        background-color: white;
        height: 50px;
        padding-left: 15px;
        padding-bottom: 10px;

    }
    .add-employee a{
        text-decoration: none;
        padding-top: 15px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        color: rgb(45, 45, 45);
    }
    .note{
        background-color: rgba(243, 232, 152, 0.463);
        padding-top: 0px;
        padding-bottom: 2px;
        margin-left: 3px;
        border-radius: 2px;
    }
    .note a{
        text-decoration: none;
        color: rgb(89, 68, 31);
        font-size: 13px;
        padding-left: 15px;
    }
    .note li{
        color: rgb(89, 68, 31);
        font-size: 13px;
        margin: 0px;
        padding: 0px;
    }
    div.Employee-Basic_details{
        margin-top: 0px;
        margin-bottom: -12px;
    }
    
    #header{
        background-color: rgba(244, 242, 242, 0.719);
        display: flex;
        justify-content: center;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 13px;
        margin-left: 3px;
        border-top: 2px solid darkgrey;
        border-bottom: 2px solid darkgrey;
        color: rgb(41, 41, 41);
    }
div.line-1{
    display: flex;
    background-color: white;
    margin-left: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* border-top: 2px solid darkgray;
    border-bottom: 2px solid darkgray; */
    gap: 8px;

}
#scale-type-label{
    font-size: 13px;
    padding-right: 125px; 
}
#Scale-Type{
    width: 200px;
    height: 20px;
    border-radius: 5px;
    background-color: rgba(236, 235, 235, 0.842);
    padding-right: 15px;
}
#Employee-code{
    opacity: 0.7;
    width: 195px;
    /* padding-left: 13px; */
}
div.line-2{
    /* display: flex;
    background-color: darkgray;
    margin-left: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
    gap: 8px; */
        background-color: rgba(244, 242, 242, 0.719);
        display: flex;
        justify-content: left;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 13px;
        margin-left: 3px;
        border-top: 1px solid darkgrey;
        border-bottom: 1px solid darkgrey;
        color: rgb(41, 41, 41);
        margin-top: 2px;
        gap: 8px;

}
#employee-name-label{
    font-size: 13px;
    padding-right: 80px;
    width: 200px;

}
#Employee-name{
    width: 195px;
    margin-left: 15px;
    opacity: 0.7;

}
#employee-name-labe2{
    font-size: 13px;
    padding-right: 97px;
    width: 200px;

}
#Employee-Surname{
    opacity: 0.7;
    width: 198px;
}
#employee-name-labe3{
    font-size: 13px;
    padding-right: 90px;
    width: 200px;
}
#cader{
    width: 155px;
    height: 20px;
    border-radius: 5px;
    background-color: rgba(236, 235, 235, 0.842);
    /* padding-left: 45px; */
    width: 200px;
}
div.line-3{
    display: flex;
    background-color: white;
    margin-left: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 1px;
    margin-bottom: 1px;
    /* border-top: 2px solid darkgray;
    border-bottom: 2px solid darkgray; */
    gap: 8px;
}
#line-3-label1{
    font-size: 13px;
    width: 200px;
    padding-right: 150px; 

}
#gender{
    width: 200px;
    width: 200px;
    height: 20px;
    border-radius: 5px;
    background-color: rgba(236, 235, 235, 0.842);
}
#line-3-label2{
    font-size: 13px;
    width: 200px;
    padding-right: 80px;
}
#Current-working-status{
    width: 205px;
    height: 20px;
    border-radius: 5px;
    background-color: rgba(236, 235, 235, 0.842);
}
#line-3label3{
    font-size: 13px;
    width: 200px;
    padding-right: 106px;
}
#subtype{
    width: 200px;
    height: 20px;
    border-radius: 5px;
    background-color: rgba(236, 235, 235, 0.842);
}
div.line-4{
    background-color: rgba(244, 242, 242, 0.719);
        display: flex;
        justify-content: left;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 13px;
        margin-left: 3px;
        border-top: 1px solid darkgrey;
        border-bottom: 2px solid darkgrey;
        color: rgb(41, 41, 41);
        margin-top: 2px;
}
#line-4-label-1{
    padding-right: 120px;

}
#date-of-birth{
    width: 75px;
    opacity: 0.7;
    background-color: rgba(236, 235, 235, 0.842);
    border-radius: 5px;
}
#cal-img{
    width: 15px;
    height: 15px;
}

#Designation{
    padding-right: 130px;
}

#designation-logo{
    height: 15px;
    width: 15px;
    padding-left: 110px;
}
#Designation-select{
    width: 205px;
    height: 20px;
    border-radius: 5px;
    background-color: rgba(236, 235, 235, 0.842);
}
#dapartmentlogo{
    height: 14px;
    width: 14px;
    padding-left: 8px;
}
#department{
    padding-right: 80px;
}
div.empdetails-line1{
    display: flex;
    background-color: white;
    margin-left: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
div.other-details{
    margin-top: -17px;
         margin-bottom: 0px; 
    }
    #header2{
        background-color: white;
        display: flex;
        justify-content: center;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 13px;
        margin-left: 3px;
        /* border-top: 2px solid darkgrey; */
        border-bottom: 2px solid darkgrey;
        color: rgb(41, 41, 41);
    }
    div.other-details-line1{
        background-color: rgba(244, 242, 242, 0.719);
        display: flex;
        justify-content: left;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 13px;
        margin-left: 3px;
        /* border-top: 1px solid darkgrey; */
        border-bottom: 1px solid darkgrey;
        color: rgb(41, 41, 41);
        margin-top: -17px;
        gap: 8px;

    }
#tsgli-label{
    font-size: 13px;
    width: 200px;
    padding-right: 118px;
}
#tsgli-input{
    width: 200px;
    height: 15px;
    opacity: 0.7;
    /* border-radius: 0px; */
    /* background-color: rgba(236, 235, 235, 0.842); */
}
#radiobutton-label{
    padding-right: 100px;
}
#radio{
    display: inline;
    padding-right: 110px;
}
#GPF-no-label{
padding-right: 100px;
}
#GPF-no-input{
    opacity: 0.7;
    width: 192px;
}
div.other-details-line2{
    display: flex;
    align-items: center;
    background-color: white;
    margin-left: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    gap: 8px;
}
#adhaar-label{
    font-size: 13px;
    width: 200px;
    padding-right: 110px;
}
#adhaar-input{
    opacity: 0.7;
    width: 200px;
}
#marital-logo{
    height: 15px;
    width: 15px;
    
    align-items: center;
}
#marital-status-label{
    font-size: 13px;
    width: 200px;
    padding-right: 115px;
}
#marital-select{
    width: 200px;
    width: 200px;
    height: 20px;
    border-radius: 5px;
    background-color: rgba(236, 235, 235, 0.842);
}
#PAN-label{
    font-size: 13px;
    width: 200px;
    padding-right: 100px;
}
#PAN-input{
    width: 190px;
    opacity: 0.7;
}
div.other-details-line3{
    background-color: rgba(244, 242, 242, 0.719);
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 13px;
    margin-left: 3px;
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    color: rgb(41, 41, 41);
    margin-top: 2px;
    gap: 8px;
}
#email-label{
    font-size: 13px;
    width: 200px;
    padding-right: 128px;

}
#email-input{
    width: 200px;
    opacity: 0.7;
}
.other-details-line3 a{
    text-decoration: none;
    color: rgb(96, 96, 96);
    padding-left:195px ;
}
/* #employee-address-label{
    font-size: 13px;
    width: 200px;
    padding-top: 0px;
    padding-right: 95px;
} */
div.textarea{
    display: flex;
    align-items:start;
}
#employee-address-input{
    width: 190px;
    opacity: 0.7;
}
#employee-address-label{
    padding-right: 100px;
}
.textarea{
    display: flex;
    align-items: center;
}
#mobile-label{
    font-size: 13px;
    width: 200px;
    padding-right: 85px;
}
#mobile-input{
    width: 190px;
    opacity: 0.7;
}
div.other-details-line4{
    display: flex;
    background-color: white;
    margin-left: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* border-top: 2px solid darkgray;
    border-bottom: 2px solid darkgray; */
    gap: 8px;

}
#earnedleaves-label{
    font-size: 13px;
    width: 200px;
    padding-right: 5px;
}
#earnedleaves-input{
    width: 200px;
    opacity: 0.7;
}
#halfpay-label{
    font-size: 13px;
    width: 200px;
    padding-right: 30px;
}
#halfpay-input{
    width: 190px;
    opacity: 0.7;
}
div.bank-details{
    margin-top: -12px;
    margin-bottom: 0px;
}
.bank-details h4{
    background-color: rgba(244, 242, 242, 0.719);
    display: flex;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 13px;
    margin-left: 3px;
    border-top: 2px solid darkgrey;
    border-bottom: 2px solid darkgrey;
    color: rgb(41, 41, 41);
}
div.bank-details-line1{
    display: flex;
    background-color: white;
    margin-left: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: -12px;
    margin-bottom: 0px;
    /* border-top: 2px solid darkgray;
    border-bottom: 2px solid darkgray; */
    gap: 8px;
}
#bank-acc-label{
    font-size: 13px;
    width: 200px;
    padding-right: 70px;
}
#ban-acc-input{
    width: 200px;
    opacity: 0.7;
}
#confirm-ban-acc-label{
    font-size: 13px;
    width: 200px;
    padding-right: 45px;
}
#confirm-bank-acc-input{
    width: 190px;
    opacity: 0.7;
}
div.bank-details-line2{
    background-color: rgba(244, 242, 242, 0.719);
    display: flex;
    justify-content: left;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 13px;
    margin-left: 3px;
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    color: rgb(41, 41, 41);
    margin-top: 2px;
    gap: 8px;
}
#ifsc-label{
    font-size: 13px;
    width: 200px;
    padding-right: 105px;
}
#ifsc-input{
    width: 110px;
    opacity: 0.7;
}
#search{
    width: 80px;
}
#bank-name-label{
    padding-right: 145px;

}
#bankname-input{
    text-decoration: none;
    color: black;
}
#bankname-input{
    padding-right: 180px;
}
#branch-label{
padding-right: 115px;
}
#branch-input{
    text-decoration: none;
    color: black;
}
div.file{
    
    

}
#file-label{
    font-size: 10px;
}
div.file{
    margin-top: 45px;
    border-top: 1px solid rgba(210, 208, 208, 0.741);
    margin-bottom: 15px;
    margin-left: 3px;
    margin-right: 3px;

}
#file-label{
    width: 100px;
    margin-left: 3px;
    padding-right: 215px;

}
#file-input{
    flex-direction: column;
    border: 2px solid rgba(238, 231, 231, 0.7);
    padding-left: 5px;
}
/* div.file-label-div{
width: 300px;
} */
#button{
    background-color: rgba(53, 180, 53, 0.912);
    flex-direction: column;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: 0px;
    
}
div.auditor{
margin-left: 3px;
margin-right: 3px;
border-bottom: 2px solid rgba(238, 231, 231, 0.7);
padding-bottom: 20px;
}
#auditor-label{
padding-left: 15px;
font-size: 10px;
color: rgb(44, 44, 44);
padding-right: 270px;
}
#auditor-select{
width: 500px;
height: 20px;
border-radius: 3px;
background-color: rgba(236, 235, 235, 0.842);
opacity: 07;

}
div.Create-Employee{
    display: flex;
    justify-content: center;
}
.Create-Employee a{
    display: flex;
    font-size: 15px;
    text-decoration: none;
    background-color: #1d3c5a;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin: 8px;
}